* {
    padding: 0;
    margin: 0;
    font-family: 'Itim', cursive;
}

.background {
    background-color: #1071a1;
    height: 110vh;
    padding-top: 1px;
}

.title {
    color: white;
    text-align: center;
    font-size: 60px;
    margin-top: 5%;
}

.display {
    color: white;
    font-size: 50px;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

.hide {
    display: none;
}

.container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 36% 36% 36%;
    grid-template-rows: 36% 36% 36%;
    max-width: 400px;

}

.score {
    display: flex;
    padding-left: 750px;
    margin: auto;
    font-size: 40px;
}

#oText, #xText {
    font-size: 50px;
    text-align: center;
}

#xPlayerScore {
    padding-left: 30px;
    padding-right: 100px;
}

.tile {
    border: 3px solid white;
    min-width: 100px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    cursor: pointer;
}

.playerX {
    color: #020000;
}

.spanPlayer {
    color: white;
}

.playerO {
    color: #000000;
}

.controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 2em;

}

.controls button {
    color: white;
    padding: 8px;
    border-radius: 8px;
    border: none;
    font-size: 20px;
    margin-left: 1em;
    cursor: pointer;
}

.restart {
    background-color: #094d14;

}

#reset {
    background-color: #FF3860;
}

#restart {
    background-color: #FF3860;
}

